.onoffswitch_label{
	display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: -1px;
}

.onoffswitch {
	position: relative;
	width: 40px;
	display: inline-block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none!important;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 18px;
	padding: 0;
	line-height: 18px;
	border: 2px solid #FFFFFF;
	border-radius: 18px;
	background-color: #9E9E9E;
	transition: background-color 0.2s ease-in;
}

.onoffswitch-label:before {
	content: "";
	display: block;
	width: 18px;
	margin: 0;
	background: #EBEBEB;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	border: 2px solid #FFFFFF;
	border-radius: 18px;
	transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #42A5F5;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #42A5F5;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0;
}

.customize-control-image .thumbnail{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.customize-control-image img{
	width: auto;
}

.customize_multi_fields .set{
	padding-right: 15px;
	position: relative;
	margin-bottom: 5px;
}

.customize_multi_remove_field{
	position: absolute;
	right: 0;
	top: 5px;
	color: red;
}

.customize_image_select label{
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 5px;
}

.customize_image_select label:last-of-type{
	margin-right: 0;
}

.customize_image_select label input{
  display:none;
}

.customize_image_select label input + img{
  	border-color: #d3dad7;
  	border-width: 3px;
  	border-style: solid;
}

.customize_image_select label input:checked + img{
  	border-color: #0074a2;
  	border-width: 3px;
  	border-style: solid;
}